<% if user_signed_in? %>
	<div class = "container">
		<div class = "col-xs-12 col-md-12 col-offset-md-3">
			<div class = "panel panel-default iDetails">
				<% @item.photos.each do |i| %>
					<%= image_tag i.url %>
				<% end %>			
			</div>
		</div>
	</div>
<%end%>